body{

	background-color: #330767;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 50%%;
	box-sizing: border-box;


}




.container{
width: 50%%;
height: auto;
background-color: #330767;
}
.main{
max-width: 1200px;
height: auto;
margin:  auto;


}
nav{
width: 100%;
height: 100px;
background-color:#330767; 
}

.logo{
	float: left;
	border:3.5px solid #000;
	line-height: 30px;
	border-color: #01d7a7;
	font-family: Fantasy;
	color: #fff;
margin-top: 2px;

}
.logo h1{

font-family: sans-serif;
font-size: 20px;
color: white;

}
nav ul{
	float: right;
margin-top: 25px;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	}

nav ul li{
	position: relative;
	padding: 0 20px;
	height: 100%;
	display: flex;
}
nav ul li a{
	z-index: 1;
	text-decoration: none;
	color: white;
	font-family: 'poppins',sans-serif;
	font-weight: 500;
	font-size: 18px;
	padding: 10px 5px;

}
/** setting for hover effect*/
nav ul li:before{

content: "";
position: absolute;
height: 33.33%;
width: 0%;
background-color: #01d7a7;
right: 0;
z-index: 0;
top: 33.33%;
transition: all 0.6s;/** this will add slow start effect*/
}

nav ul li:after{
content: "";
position: absolute;
height: 33.33%;
width: 0%;
background-color: #01d7a7;
left: 0;
z-index: 0;
bottom: 0;
transition: all 0.6s;

}
nav ul li a:before{
content: "";
position: absolute;
height: 33.33%;
width: 0%;
background-color: #01d7a7;
bottom: 66%;
left: 0;
transition: all 0.6s;

}
/**Applying hover effect on nav */
nav ul li:hover:before,
nav ul li:hover:after,
nav ul li:hover nav ul li a:before{
	width: 100%;
}

.slider{
width: 100%;
height: 500px;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../pic1.jpg);
background-size: center;
background-position: center;
display: flex;
align-items: center;
}

.slider .title{
width: 40%;
height: auto;
position: absolute;
left: 18.5%;

}

.slider .title h1{

	font-size: 40px;
	color: #fff;
	line-height: 65px;
}
.slider .title h1 span{
	color: #01d7a7;
}

.slider .title p{
	font-size: 19px;
	color: #fff;
	line-height: 1.5;
	margin-top: 15px;
	padding-right: 20px;
}
/**Contact us section*/

.contactus-tittle{
margin-top: 100px;
color: #C38CEE;
border-color: #000;
margin: 0;
padding: 5;
text-align: center;
font-family: Century Gothic;
}
.box {
 
margin-top: 100px;
margin: 0;
padding: 0;
text-align: center;
font-family: Century Gothic;

} 
.box h2{
	font-size: 32px;
line-height: 10px;

}

.box h3{
	font-size: 16px;
}
form{
	margin-top: 50px;
}

.form-conrol{

	width: 600px;
	background:transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
}
form .submit{
	background-color: #483D8B;
	border-color: transparent;
	color: #000;
	font-size: 20px;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
	transition: 0.4s ease;
}
form .submit:hover{

	background-color: #0080ff;
	cursor: pointer;
}
/**About Section*/

.about-us{
	width: 100%;
height: 500px;
background-image: url(../pic3.jpg);

}
.button{

	position: absolute;
	top:75%;
	left:50%;
	transform: translate(-50%,-50%);


}
.button2{

	position: absolute;
	top:85%;
	left:30%;
	transform: translate(-50%,-50%);


}
.btn{
	border:3px solid #fff;
	padding: 10px 30px;
	color: #01d7a7;
font-size: 15px;
}
.btn:hover{
	background-color:  #999966

;
}

